[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "*", extras = ["all"]}
sqlalchemy = "*"
psycopg2 = "*"
python-decouple = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]
